.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

:root {
	--background-color-very-dark: #181818;
	--background-color-dark: #202123;
	--background-color-light: #303135;
	--border-color-gray: #434343;
	--other-color: #303135;
	--active-field: #909090;
	color: white;
}

* {
    box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

body, html {
    margin: 0;
	padding: 0;
	height: 100%;
    width: 100%;
	background-color: var(--background-color-dark);
}

input, textarea {
	outline: 0;
	appearance: none;
}

.content {
	display: flex;
	flex-direction: column;
    height: 100%;
}

.header, .footer, .search {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	font-size: 1.3rem;
}

.header, .footer {
	background-color: var(--background-color-light);
	height: 60px;
}

.sub-header {
	display: flex;
	flex-direction: column;
}

button {
	padding: 5px 10px;
	background-color: var(--background-color-very-dark);
	border: 1px solid var(--border-color-gray);
	border-radius: 5px;
	font-size: 0.9rem;
	position: absolute;
	left: 10px;
	color: white;
}

button:hover {
	cursor: pointer;
	border: 1px solid var(--active-field);
}

.search {
	justify-content: start;
	padding: 20px;
	min-width: 270px;
	flex-grow: 1;
}

.search, .popular-cities {
	border-bottom: 1px solid var(--border-color-gray);
}

.popular-cities {
	display: flex;
	flex-grow: 1;
	max-width: 100%;
}

.popular-city {
	border-left: 1px solid var(--border-color-gray);
	flex-grow: 1;
	padding: 15px 8px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	gap: 15px;
}

.weather-summary {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	bottom: 3px;

	gap: 5px;
}

.weather-description {
	display: flex;
	gap: 3px;
	flex-direction: column;
}

.weather-description .name {
	font-size: 1.1rem;
	overflow: hidden;
	white-space: nowrap;
}

.weather-summary, .weather-description {
	max-height: 58px;
}

.weather-summary img {
	height: 40px;
	width: 40px;
	fill: white;
}

.search-result {
	flex-grow: 1;
	display: grid;
	grid-template-columns: fit-content(500px) 1fr;
	grid-template-rows: 1fr;
}

.current-weather {
	grid-column: 1;

	display: flex;
	flex-direction: column;
	padding: 20px 60px 20px 20px;
	gap: 30px;
	font-size: 1.4rem;
}

.forecast {
	grid-column: 2;
	border-left: 1px solid var(--border-color-gray);
}

.footer {
	gap: 10px;
}

#city {
	border: 1px solid var(--border-color-gray);
	width: 100%;
	padding: 10px 50px 10px 10px;
	font-size: 1.1rem;
	background-color: var(--background-color-dark);
	border-radius: 8px;
}

input:focus {
	outline: 1px solid var(--active-field);
}

#search-icon {
	position: relative;
	right: 30px;
}

.search-result .placeholder {
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	font-style: italic;
	color: gray;
	padding: 50px;

	display: none;
}

.city-name {
	font-size: 1.8rem;
}

.country {
	font-size: 1.2rem;
	color: gray;
}

.section-one {
	display: grid;
	grid-template-columns: repeat(2, fit-content(80px));
	grid-template-rows: repeat(3, fit-content(40px));
	gap: 2px 10px;

	margin-left: auto;
	margin-right: auto;
}

.section-one .weather-icon img {
	height: 80px;
}

.weather-icon {
	grid-row: 1 / 3;
	grid-column: 1;
}

.temperature {
	grid-row: 1;
	grid-column: 2;
	
	align-items: flex-end;
}

.weather {
	grid-row: 2;
	grid-column: 2;

	align-items: flex-start;
}

.section-one .weather,
.section-one .temperature {
	display: flex;
	font-size: 1.3rem;
}

.feels-like {
	grid-row: 3;
	grid-column: 1 / -1;
	text-align: center;
	font-size: 1.2rem;
}

.section-two {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.high-low {
	display: flex;
	gap: 15px;
	justify-content: center;
}

.wind, .humidity {
	display: flex;
	gap: 7px;
}

.label {
	width: 90px;
}

.speed-direction {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.high span {
	color: rgb(255, 157, 0);
}

.low span {
	color: rgb(0, 183, 255);
}

.wind, .humidity {
	font-size: 1rem;
}

@media only screen and (min-width: 900px) {

	.sub-header {
		flex-direction: row;
	}

	.search {
		/* min-width: 270px; */
		max-width: 615px;
		flex-grow: 1;
	}

	.current-weather {
		/* flex-direction: row; */
	}


}